# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#libs
*.a

#files created by build
.idea
*.apk
*.ap_
*.class
Projects/Android/build/*
assets/oculussig*
Projects/Android/.cxx/*
*.json
*.bin
.gradle/*
Projects/Android/.gradle/*
*.ser
Projects/Android/.idea/*
Projects/Android/.externalNativeBuild/*
drbeef-release-key.keystore
assets/pak6.pak
Projects/Android/Android.iml
Projects/Projects.iml
assets/pak0.pk3
assets/sp_pak_weapons.pk3
assets/z_zvr_weapons.pk3
assets/sp_vpak8.pk3
assets/z_vr_assets.pk3
assets/z_vr_assets_base.pk3
assets/z_vr_assets_jka.pk3
assets/z_vr_assets_jko.pk3
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libvorbis.so
Projects/Android/libs/arm64-v8a/libopenxr_loader_meta.so
Projects/Android/libs/arm64-v8a/libopenxr_loader_pico.so
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
