# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#binaries
*.so

#libs
*.a

#files created by build
.idea
*.apk
*.ap_
*.class
projects/Android/build/*
assets/oculussig*
Projects/Android/.cxx/*
*.json
*.bin
Projects/Android/.gradle/*
*.ser
Projects/Android/.idea/*
Projects/Android/.externalNativeBuild/*
drbeef-release-key.keystore
assets/pak6.pak
Projects/Android/Android.iml
Projects/Projects.iml
assets/pak0.pk3
assets/sp_pak_weapons.pk3
assets/z_zvr_weapons.pk3
assets/sp_vpak8.pk3
